<!-- ? Directive Angular - ში არსებობს 3 ტიპის -->
<!--  * Component  დირექტივა (ასახავს როგორ გამოიყურება view  რომელსაც მომხმარებელი ხედავს) -->
<!--  * Attribute  დირექტივა (ცვლის გარეგნობას, ან ქცევას სხვადასხვა ელემენტებზე) -->
<!--  * Structural დირექტივა (ცვლის DOM-ს ელემენტების დამატებით ან წაშლით) -->

<div class="divider">
  <h2>კომპონენტური დირექტივა</h2>
</div>
<!-- ? კომპონენტური დირექტივა -->
<!-- ! $event არის სპეციალური ტიპის ცვლადი რომელიც შეინახავს იმ მონაცემს რომელიც გადაეცა ფუნქციის შესრულებისას -->
<!-- ! ამ შემთხვევაში onUserSelected -->
<app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
<app-user-detail [user]="selectedUser"></app-user-detail>
<div class="divider">
  <h2>ატრიბუტული დირექტივა</h2>
</div>

<!-- ? ატრიბუტული დირექტივა -->
<div style="width: 100px; height: 100px; background-color: black;" appHighlight="green">

</div>


<!-- ? კომპლექსური ატრიბუტული დირექტივა -->
<div class="container">
  <div class="inner">
    <p UserHasPermission="read">თქვენ შეგიძლია ამის ნახვა რადგან თქვენ გაქვთ Read Permission</p>

    <textarea UserHasPermission="write">თქვენ შეგიძლია ამის ნახვა რადგან თქვენ გაქვთ Write Permission</textarea>

    <button UserHasPermission="delete" style="background-color: red; color: #fff;">თქვენ შეგიძლია ამის ნახვა რადგან
      თქვენ
      გაქვთ Delete Permission
    </button>
  </div>
</div>

<div class="divider">
  <h2>სტრუქტურული დირექტივა </h2>
</div>


<!-- ? სტრუქტურული დირექტივა -->
<!-- *ngFor დირექტივა -->
<ul>
  <li *ngFor="let category of categories">
    {{ category.name }}
    <ul>
      <li *ngFor="let product of category.products">
        {{ product.name }} - {{ product.price | currency: '₾' }}
      </li>
    </ul>
  </li>
</ul>

<div *ngIf="users.length; else noUsers">
  <ul>
    <li *ngFor="let user of users">
      {{ user.name }} - {{ user.email }}
    </li>
  </ul>
</div>
<ng-template #noUsers>No users found.</ng-template>


<ul>
  <li *ngFor="let message of messages" [ngClass]="{ read: message.isRead, unread: !message.isRead }">
    {{ message.content }}
  </li>
</ul>
